
<div  class="row about">
    <div class="col-md-8 mx-auto">
        <div class="card index text-center">
            <h3 class="animate__animated animate__bounceInDown" class="display-8 ">
                Aplicacion donde podras crear una nota de recordatorio o una tarea a realizar y también podras modificarla.</h3>

            <img class="animate__animated animate__fadeInDownBig" src="/img/about.jpg" class="mx-auto  d-block m-4 index"
                alt="index">


        </div>
    </div>
    </div>
</div>


