
<div class="row about">
    <div class="col-md-8 mx-auto">
        <div class="card index text-center ">
            <h1> Nodejs-Mongodb-Javascript</h1>
            
            <img class="animate__animated animate__fadeInDownBig" src="/img/index.JPEG">  
                


        </div>
    </div>
</div>